version: "3.9"

services:
  cockroachdb:
    image: cockroachdb/cockroach:v23.1.11
    container_name: cockroachdb
    command: start-single-node --insecure
    ports:
      - "26257:26257"  # SQL
      - "8080:8080"    # Admin UI
    volumes:
      - ./cockroach-data:/cockroach/cockroach-data
    restart: unless-stopped

  nakama:
    image: heroiclabs/nakama:3.22.0
    container_name: nakama
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for CockroachDB to be ready...' &&
      until nc -z cockroachdb 26257; do
        sleep 1
      done &&
      echo 'Initializing Nakama schema...' &&
      /nakama/nakama migrate up --database.address cockroachdb:26257 --database.user root --database.name nakama &&
      echo 'Starting Nakama server...' &&
      /nakama/nakama --name nakama1 --database.address cockroachdb:26257 --database.user root --database.name nakama --logger.level DEBUG
      "
    ports:
      - "7350:7350"  # Nakama client & server API
      - "7351:7351"  # Nakama console/admin
    depends_on:
      - cockroachdb
    restart: unless-stopped